/* Reset some default styles for better consistency */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif
} */

.faq {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.faq-item {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #D22B2B;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-item .question {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    transition: border-color 0.3s ease-in-out;
}


.faq-item .question:hover {
    border-color: #333;
}

.faq-item .answer {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    margin-top: 15px;
    transition: max-height 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}


.faq-item input[type="checkbox"] {
    display: none;
}

.faq-item input[type="checkbox"]:checked + .question {
    border-color: #333;
}

.faq-item input[type="checkbox"]:checked + .question + .answer {
    max-height: 100%;
    margin-top: 20px; /* Adjusted margin for increased spacing */
}

.faq-item .question::before {
    content: "+";
    display: inline-block;
    margin-right: 10px;
}

.faq-item input[type="checkbox"]:checked + .question::before {
    content: "-";
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    main {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .question {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .answer {
        padding: 10px;
    }
}

/* Add styles for the search bar */
.search-container {
    text-align: center;
    margin-top: 20px;
}

#search {
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 300px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#search-button {
    padding: 10px 20px;
    background-color: #5c3db5;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #000;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/bgc.jpg');
    background-size: auto;
    background-repeat: repeat;
    text-align: center;
}



/* Footer styles */
footer {
    background-color: #281C2D;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.footer-learn-more:hover {
    color: #007bff;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 20px;
}

.footer-links h3 {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.footer-links a:hover {
    color: #007bff;
}

.address-alignment {
    text-align: end;
}

/* Style for the social icons container */
.social-icons {
    margin-top: 20px;
    text-align: center;
}

/* Style for individual social media icons */
.social-icons a {
    display: inline-block;
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ff6a00;
}

main {
    max-width: 800px;
    padding: 20px;
    background-color: #D22B2B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #5c3db5;
}

/* For screens with a max width of 768px */
@media (max-width: 768px) {
    footer {
        padding: 20px 0;
    }

    .footer-title {
        font-size: 1.2rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links li {
        margin-bottom: 10px;
    }

    .address-alignment {
        text-align: center;
    }
}

/* Media queries for smaller screens */
@media (max-width: 576px) {
    footer {
        padding: 20px 0;
    }

    .footer-title {
        font-size: 1.2rem;
    }

    /* Adjust other styles for smaller screens as needed */
}

/* Media query for smaller screens */
@media (max-width: 576px) {
    .faq {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .question {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .search-container {
        margin-top: 10px;
    }

    #search {
        width: 100%;
    }

    #search-button {
        width: 100%;
        margin-top: 10px;
    }
}

/* Media query for screens with a max width of 768px */
@media (max-width: 768px) {
    .faq {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .question {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
    }

    .search-container {
        margin-top: 15px;
    }

    #search {
        width: 100%;
    }

    #search-button {
        width: 100%;
        margin-top: 15px;
    }
}

/* Media query for larger screens with a max width of 992px */
@media (max-width: 992px) {
    .faq {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .question {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .search-container {
        margin-top: 20px;
    }

    #search {
        width: 100%;
    }

    #search-button {
        width: 100%;
        margin-top: 20px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fira+Sans&family=Libre+Baskerville:wght@700&family=Montserrat:wght@500&family=Nanum+Myeongjo&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fira+Sans&family=Libre+Baskerville:wght@700&family=Montserrat:wght@500&family=Nanum+Myeongjo&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,300&family=Quicksand&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fira+Sans&family=Libre+Baskerville:wght@700&family=Montserrat:wght@500&family=Nanum+Myeongjo&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display&family=Quicksand&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fira+Sans&family=Lato:wght@700&family=Libre+Baskerville:wght@700&family=Lora:wght@500&family=Montserrat:wght@500&family=Nanum+Myeongjo&family=Nunito&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display&family=Quicksand&family=Source+Serif+4:opsz,wght@8..60,300&family=Titillium+Web:wght@200&display=swap');

body {
    margin: 0%;
    /* background-color: rgb(23,23,23); */
}

header {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-around;
    margin-left: -1%;
    background-color: #8155ba;
    padding: 20px 0;
    /* position: fixed; */
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

header>.logo {
    display: flex;
}

header>.logo>img {
    max-width: 150px;
}

header>.logo>h1 {
    align-self: center;
    font-size: 2.2em;
    margin-left: -10%;
    letter-spacing: 2px;
    /* color: rgb(250, 237, 222); */
}

header>.nav {
    width: 50%;
    display: flex;
    align-items: center;
}

header>.nav {
    width: 50%;
    display: flex;
    align-items: center;
}

header>.nav>nav {
    width: 100%;
}

header>.nav>nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header>.nav>nav>ul>li>a {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
}

header>.nav>nav>ul>li>a:hover {
    text-decoration: underline rgb(1, 1, 1);
    font-size: 17px;
}

header>.ri {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

header>.ri>.mem {
    align-self: center;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
}

header>.ri>.mem>a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

header>.ri>.mem:hover {
    text-decoration: underline;
}

header>.ri>button {
    background-color: black;
    font-size: 15px;
    letter-spacing: 2px;
    border: 4px solid black;
    color: white;
    padding: 8px 18px;
    height: fit-content;
    align-self: center;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.8s;
    margin-left: 4%;
}

header>.ri>button:hover {
    background-color: transparent;
}

header>.nav>nav>ul>li>a:hover {
    text-decoration: underline;
}

.topnav {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    margin-top: -1%;
    /* padding: 14px 16px; */
    background-color: inherit;
}

.dropdown .dropbtn:hover{
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(250, 237, 222);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3b2853;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header>.logo {
        justify-content: center;
        margin-left: -50%;
    }

    header>.logo>h1 {
        margin-left: -2%;
        font-size: 35px;
    }

    header>.nav {
        display: none;
    }

    header>.ri {
        display: none;
    }

    .topnav {
        display: block;
        background-color: #000000db;
    }

    .topnav #myLinks {
        display: none;
        background-color: #000000db;
        margin-bottom: -2%;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 23px;
        display: block;

    }

    .topnav #myLinks a {
        padding: 23px;
        text-align: center;
    }

    .topnav  a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 20px;
        font-size: 50px;
        color: black;
    }

    .topnav #myLinks a:hover {
        text-decoration: underline;
        color: white;
    }

    .topnav #myLinks i a:hover {
        color: black;
    }

    .dropdown {
        float: none;
        overflow: hidden;
        margin-top: -4%;
    }
    

    .dropdown .dropbtn {
        font-size: 23px;
        color: white;
        font-weight: normal;
    }
    
    .dropdown .dropbtn:hover{
        text-decoration: underline;
    }
    
    .dropdown-content {
        margin-left: 39%;
    }
    
    .dropdown-content a {
        float: none;
        color: white;
        text-align: center;
    }
}